@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* TODO: Verificar real necessidade do @mediaQ abaixo, caso não haja remover */
/* TODO: Inicial o @mediaQ do body após finalizar projeto ou até sair da parte do body */

/* reset and initial styles project */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    /*TODO: here --foreground-rgb: 255, 255, 255; */
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  min-height: 100vh;
  max-height: fit-content;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    font-size: 16px;
    font-weight: normal;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); 
    overflow-x: hidden;   /*TODO: caso o navBar pare de funcionar ajustar o overflow em um container */
    overscroll-behavior: none; /* previne o comportamento de arrasto(LITERAL!) paras os lados em dispositivos moveis */
}

/* plus styles project */

:root {
  --primary-background: #FFF;
  --primary-background-footer: #8ADDF0;

  --primary-color: hsl(0, 0%, 100%);
}
::-webkit-scrollbar {
width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #d2d0e3;
}


::-webkit-scrollbar-thumb {
  background-color: #768fb0;
  border-radius: .2rem;
}

/* button SwiperSlide */
button.swiper-button-next,
button.swiper-button-prev {
  color: #ffffff;
  cursor: pointer; 
  text-shadow: 0px 0px 1px #0000006b;
  font-weight: 300;
  transition: all 0.3s ease;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  text-shadow: 1px 1px 2px #00000090;
  font-weight: bolder;
  color: #1783B5;
}

.Wrapper-container {
  background-color: #fff;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
}

img {
  max-width: 100%;
}

:root {
  --min-h-header: 14rem;
  --min-h-footer: 26rem;
}

.class-Header {
  background-color: var(--primary-background);
  min-width: 100%;
  min-height: var(--min-h-header);
  max-height: fit-content;
}

.class-Footer {
  min-height: var(--min-h-footer);
  max-height: fit-content;
  background-color: var(--primary-background-footer);
  display: flex;
}

.class-Main {
  background-color: var(--primary-background);
  /* background-color: var(--primary-background-color-border); */
  min-height: calc(100vh - (var(--min-h-header) - var(--min-h-footer)));
}